html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  overflow: hidden; /* Prevent scrollbars */
}

#root {
  height: 100%; /* Ensure the root element takes full height */
}
